body header {
  text-align: center;
  margin-bottom: 30px;
  font-size: 30px;
}
textarea {
  border: gray solid 2px;
  display: inline-block;
  float: left;
  margin-left: 200px;
  height: 400px;
  width: 400px;
  overflow: hidden;
  word-wrap: break-word;
  resize: none;
}

#destination {
  display: inline-block;
  float:right;
  margin-right: 200px;
  border: black solid 2px;
  height: 400px;
  width: 400px;
  overflow: hidden;
  word-wrap: break-word;
  resize: none;
}